@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "tailwindcss";

.diagonal-image {
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  }


.diagonal-image-reverse {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}
  